* {
    box-sizing: border-box;
}

h1 {font-size: 3em;}
h2 {font-size: 3em;}
h3 {font-size: 2em;}
p  {font-size: 1.25em;}
ul {list-style: none;}
li {font-size: 1em;}

body{

font-family: 'Roboto' sans-serif;
margin: 0;
}

button{ font-size: 1.5em;
font-weight: bolder;
padding: 5px 20px;
border-radius:30px;
border: 1px solid 0, 0, 0, 0.5;
box-shadow: 2px 2px 10px 0px rgba(0,0,0,10);
color: rgb(240, 64, 226);
background-color:blueviolet
}
button:hover{
    background-color: rgb(178, 166, 182);
    cursor: pointer;
}


.container{
    max-width: 1400px;
    margin: auto;
    overflow: hidden;
  }
  .color-acento{color: blueviolet;}


  

    header{
        background-color: rgb(245, 245, 245);
        
    }
    header .logo{

        margin: 0%;
        padding: 20px 40px ;
        font-weight: bold ;
        color: blueviolet;
        font-size: 1.6em;
    }

    header .container{
        display: flex;
        flex-direction: column;
        align-items: center;
     }
    header nav{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 25px;
    
    }
    header a{
        padding:20px 20px;
        text-decoration: none;
        font-weight: bold;
        color: black
    }

     header a:hover{
      color: blueviolet;
} 
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.15),
        rgba(0,0,0,0.15)),
url("Imagenes/R.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#hero h1{
    color: rgb(71, 34, 193);

}

#bomberos-fortin.container{
    text-align: center;
    padding: 200px 12px;
}
